p, span {
    font-weight: 200;
}
h2 {
    font-weight: 300;
    margin-bottom: .2rem;
    font-size: 1.6rem;
    font-variant-caps: petite-caps;
}
h3 {
    font-weight: 300;
}
h4 {
    margin-top: 0rem;
    font-weight: 300;
}
img {
    max-width: 300px;
    border: #24b729 2px dashed;
    padding: 6px;
    border-radius: 6px;
    margin: .5rem;
}