h1 {
  font-variant: petite-caps;
}

article {
  text-align: left;
  border: #0d3d0f 3px dashed;
  border-radius: 12px;
  padding: 1rem;
  margin: 0.5rem;
}
a {
  text-decoration: underline;
}
h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
h4 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 1rem;
}

hr {
  margin: 1rem 0;
  border: #0d3d0f 2px dashed;
}

img {
  border: #24b729 2px dashed;
  padding: 6px;
  margin: 4px;
  border-radius: 6px;
  width: 280px;
  display: inline;
}
