<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/assets/css/dark-page.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/diary.css" />
  </head>
  <body>
    <h1 class="text-center font-normal text-3xl">Diary</h1>
    <ul class="flex flex-col gap-8 max-w-7xl mx-auto">
      <% articles.forEach(article => { %>
      <li>
        <article><%- article.content %></article>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
