:root {
    --background: black;
    --green: #24b729;
    --dark-green: #188d1c;
}
html {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--green);
    a {
        color: var(--dark-green);
    }
    a:hover {
        color: var(--green);
    }
}