@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../assets/fonts/IBM_PlexMono/IBMPlexMono-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../assets/fonts/IBM_PlexMono/IBMPlexMono-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../assets/fonts/IBM_PlexMono/IBMPlexMono-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../assets/fonts/IBM_PlexMono/IBMPlexMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../assets/fonts/IBM_PlexMono/IBMPlexMono-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../assets/fonts/IBM_PlexMono/IBMPlexMono-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../assets/fonts/IBM_PlexMono/IBMPlexMono-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'RussoOne';
  src: url(../assets/fonts/RussoOne-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Death-Rattlebb';
  src: url(../assets/fonts/deathrattlebb_reg.ttf);
  font-style: normal;
}
