<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Error</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dark-page.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/glitch.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/specific/404.css}"/>
</head>
<body>
    <div>
        <h1 class="glitch" data-text="403">403</h1>
        <span class="glitch" data-text="FORBIDDEN">FORBIDDEN</span>
    </div>
    <a href="/"><b>&#60;/</b>Go Back<b>&#62;</b></a>
</body>
</html>