<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>

    <script
            type="module"
            src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js">
    </script>
</head>
<body>
    <h1>Diary</h1>
    <section id="article-container"></section>
    <script>
        $(document).ready(function() {
            var $container = $('#article-container');
            $.getJSON("/api/diary-articles", {}, function (data) {
                $.each(data, function(idx, articleText) {
                    var script = $('<script type="text/markdown"></' + 'script>').text(articleText);
                    $container.append($('<zero-md></zero-md>').append(script))
                });
            });
        });
    </script>
</body>
</html>