<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title-container">
        <span>[!]</span>
        <h1 id="title">Welcome to my website</h1>
        <span>[!]</span>
    </div>
    <nav>
      <ul class="--flex-center">
        <li><a href="#about"><u>&#60;/</u>About me<u>&#62;</u></a></li>
        <li><a href="dev-portfolio"><u>&#60;/</u>DEV Portfolio<u>&#62;</u></a></li>
        <li><a href="#hobbies"><u>&#60;/</u>Hobbyes<u>&#62;</u></a></li> <!-- /photography, programing projects, MTB -->
        <li><a href="diary"><u>&#60;/</u>Diary<u>&#62;</u></a></li>
        <li><a href="#guest-book"><u>&#60;/</u>Guest book<u>&#62;</u></a></li>
        <li><a href="#contact-info"><u>&#60;/</u>Contact<u>&#62;</u></a></li>
      </ul>
    </nav>
</body>
</html>