@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/* Index page */
.hero-nav span {
  font-weight: 900;
  font-size: 1.2rem;
}
.index-header div a,
.index-header div img {
  width: 160px;
  height: 60px;
}
.projects-grid article {
  border: 2px solid #0a310b;
  border-style: dashed;
  @apply rounded-md shadow-lg shadow-slate-950 p-4;
}
.projects-grid article h4 {
  @apply font-semibold text-xl mb-4;
}
.projects-grid article h4 span {
  @apply font-light;
}
.projects-grid article p {
  @apply mb-4;
}
.projects-grid article > a {
  @apply font-normal;
}
.projects-grid article > a span {
  @apply font-extrabold;
}

/* Gallery */
.gallery-list {
  @apply max-w-5xl mx-auto p-4;
  column-count: 2;
  @screen md {
    column-count: 3;
  }
  transform: translateY(-50px);
}
.gallery-list img {
  @apply w-full rounded-sm mb-4 shadow-lg shadow-slate-950;
}
